.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
}

.key {
    height: 3.5rem;
    width: 2.5rem;
    margin: 0 6px 0 0 ;
    color: #d7dadc;
    background-color: #818384;
    font-family: inherit;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.action {
    text-transform: none;
}
